In [2]:
# Importing dependancies
import pandas as pd
import numpy as np

In [3]:
june19_df = pd.read_csv("JC-201906-citibike-tripdata.csv")
june19_df.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,316,2019-06-01 00:05:55.7210,2019-06-01 00:11:11.9940,3187,Warren St,40.721124,-74.038051,3199,Newport Pkwy,40.728745,-74.032108,29677,Subscriber,1993,1
1,280,2019-06-01 00:08:09.0920,2019-06-01 00:12:50.0730,3185,City Hall,40.717732,-74.043845,3267,Morris Canal,40.712419,-74.038526,29571,Subscriber,1984,1
2,2162,2019-06-01 00:13:11.8800,2019-06-01 00:49:14.3640,3199,Newport Pkwy,40.728745,-74.032108,3199,Newport Pkwy,40.728745,-74.032108,26208,Customer,1969,0
3,2184,2019-06-01 00:13:30.1110,2019-06-01 00:49:54.2250,3199,Newport Pkwy,40.728745,-74.032108,3199,Newport Pkwy,40.728745,-74.032108,29487,Customer,1969,0
4,139,2019-06-01 00:13:31.8520,2019-06-01 00:15:51.7880,3207,Oakland Ave,40.737604,-74.052478,3207,Oakland Ave,40.737604,-74.052478,29592,Subscriber,1994,1

In [4]:
columns_to_convert = ["starttime", "stoptime"]
# Convert the column to datetime data type
june19_df[columns_to_convert] = june19_df[columns_to_convert].apply(lambda x: pd.to_datetime(x, format='%Y-%m-%d %H:%M:%S.%f'))

# Convert the columns to the desired format
june19_df[columns_to_convert] = june19_df[columns_to_convert].apply(lambda x: x.dt.strftime('%Y-%m-%d %H:%M:%S'))

# Output the DataFrame with the updated data type
june19_df.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,316,2019-06-01 00:05:55,2019-06-01 00:11:11,3187,Warren St,40.721124,-74.038051,3199,Newport Pkwy,40.728745,-74.032108,29677,Subscriber,1993,1
1,280,2019-06-01 00:08:09,2019-06-01 00:12:50,3185,City Hall,40.717732,-74.043845,3267,Morris Canal,40.712419,-74.038526,29571,Subscriber,1984,1
2,2162,2019-06-01 00:13:11,2019-06-01 00:49:14,3199,Newport Pkwy,40.728745,-74.032108,3199,Newport Pkwy,40.728745,-74.032108,26208,Customer,1969,0
3,2184,2019-06-01 00:13:30,2019-06-01 00:49:54,3199,Newport Pkwy,40.728745,-74.032108,3199,Newport Pkwy,40.728745,-74.032108,29487,Customer,1969,0
4,139,2019-06-01 00:13:31,2019-06-01 00:15:51,3207,Oakland Ave,40.737604,-74.052478,3207,Oakland Ave,40.737604,-74.052478,29592,Subscriber,1994,1

In [5]:
#june19_df.info()
#june19_df.count()
#june19_df.describe()

In [6]:
dec19_df = pd.read_csv("JC-201912-citibike-tripdata.csv")
dec19_df.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,1553,2019-12-01 00:07:13.9360,2019-12-01 00:33:07.6820,3681,Grand St,40.715178,-74.037683,3198,Heights Elevator,40.748716,-74.040443,29462,Subscriber,1980,1
1,416,2019-12-01 00:16:40.4700,2019-12-01 00:23:36.5700,3195,Sip Ave,40.730897,-74.063913,3679,Bergen Ave,40.722104,-74.071455,29610,Subscriber,1956,1
2,294,2019-12-01 00:20:29.7980,2019-12-01 00:25:23.9690,3195,Sip Ave,40.730897,-74.063913,3678,Fairmount Ave,40.725726,-74.071959,26166,Subscriber,1977,1
3,97,2019-12-01 00:21:13.7580,2019-12-01 00:22:51.5970,3202,Newport PATH,40.727224,-74.033759,3638,Washington St,40.724294,-74.035483,29492,Subscriber,1993,1
4,286,2019-12-01 00:29:58.0230,2019-12-01 00:34:44.2280,3195,Sip Ave,40.730897,-74.063913,3679,Bergen Ave,40.722104,-74.071455,29440,Customer,1990,1

In [7]:
columns_to_convert = ["starttime", "stoptime"]
# Convert the column to datetime data type
dec19_df[columns_to_convert] = dec19_df[columns_to_convert].apply(lambda x: pd.to_datetime(x, format='%Y-%m-%d %H:%M:%S.%f'))

# Convert the columns to the desired format
dec19_df[columns_to_convert] = dec19_df[columns_to_convert].apply(lambda x: x.dt.strftime('%Y-%m-%d %H:%M:%S'))

# Output the DataFrame with the updated data type
dec19_df.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,1553,2019-12-01 00:07:13,2019-12-01 00:33:07,3681,Grand St,40.715178,-74.037683,3198,Heights Elevator,40.748716,-74.040443,29462,Subscriber,1980,1
1,416,2019-12-01 00:16:40,2019-12-01 00:23:36,3195,Sip Ave,40.730897,-74.063913,3679,Bergen Ave,40.722104,-74.071455,29610,Subscriber,1956,1
2,294,2019-12-01 00:20:29,2019-12-01 00:25:23,3195,Sip Ave,40.730897,-74.063913,3678,Fairmount Ave,40.725726,-74.071959,26166,Subscriber,1977,1
3,97,2019-12-01 00:21:13,2019-12-01 00:22:51,3202,Newport PATH,40.727224,-74.033759,3638,Washington St,40.724294,-74.035483,29492,Subscriber,1993,1
4,286,2019-12-01 00:29:58,2019-12-01 00:34:44,3195,Sip Ave,40.730897,-74.063913,3679,Bergen Ave,40.722104,-74.071455,29440,Customer,1990,1

In [8]:
#dec19_df.info()
#dec19_df.count()
#dec19_df.describe()

In [9]:
jun20_df = pd.read_csv("JC-202006-citibike-tripdata.csv")
jun20_df.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,122,2020-06-01 00:02:21.7500,2020-06-01 00:04:24.3250,3792,Columbus Dr at Exchange Pl,40.716870,-74.032810,3639,Harborside,40.719252,-74.034234,42489,Subscriber,1987,1
1,1282,2020-06-01 00:12:27.1090,2020-06-01 00:33:50.0540,3198,Heights Elevator,40.748716,-74.040443,3276,Marin Light Rail,40.714584,-74.042817,42183,Subscriber,1988,1
2,186,2020-06-01 01:19:59.2090,2020-06-01 01:23:05.8930,3275,Columbus Drive,40.718355,-74.038914,3681,Grand St,40.715178,-74.037683,42140,Subscriber,1987,1
3,131,2020-06-01 01:26:42.2050,2020-06-01 01:28:53.8040,3267,Morris Canal,40.712419,-74.038526,3681,Grand St,40.715178,-74.037683,42120,Subscriber,1987,1
4,266,2020-06-01 01:27:33.7090,2020-06-01 01:32:00.1890,3639,Harborside,40.719252,-74.034234,3186,Grove St PATH,40.719586,-74.043117,42437,Subscriber,1972,2

In [10]:
columns_to_convert = ["starttime", "stoptime"]
# Convert the column to datetime data type
jun20_df[columns_to_convert] = jun20_df[columns_to_convert].apply(lambda x: pd.to_datetime(x, format='%Y-%m-%d %H:%M:%S.%f'))

# Convert the columns to the desired format
jun20_df[columns_to_convert] = jun20_df[columns_to_convert].apply(lambda x: x.dt.strftime('%Y-%m-%d %H:%M:%S'))

# Output the DataFrame with the updated data type
jun20_df.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,122,2020-06-01 00:02:21,2020-06-01 00:04:24,3792,Columbus Dr at Exchange Pl,40.716870,-74.032810,3639,Harborside,40.719252,-74.034234,42489,Subscriber,1987,1
1,1282,2020-06-01 00:12:27,2020-06-01 00:33:50,3198,Heights Elevator,40.748716,-74.040443,3276,Marin Light Rail,40.714584,-74.042817,42183,Subscriber,1988,1
2,186,2020-06-01 01:19:59,2020-06-01 01:23:05,3275,Columbus Drive,40.718355,-74.038914,3681,Grand St,40.715178,-74.037683,42140,Subscriber,1987,1
3,131,2020-06-01 01:26:42,2020-06-01 01:28:53,3267,Morris Canal,40.712419,-74.038526,3681,Grand St,40.715178,-74.037683,42120,Subscriber,1987,1
4,266,2020-06-01 01:27:33,2020-06-01 01:32:00,3639,Harborside,40.719252,-74.034234,3186,Grove St PATH,40.719586,-74.043117,42437,Subscriber,1972,2

In [11]:
#jun20_df.info()
#jun20_df.count()
#jun20_df.describe()

In [12]:
dec20_df = pd.read_csv("JC-202012-citibike-tripdata.csv")
dec20_df.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,146,2020-12-01 00:02:50.1450,2020-12-01 00:05:16.1940,3202,Newport PATH,40.727224,-74.033759,3199,Newport Pkwy,40.728745,-74.032108,42308,Subscriber,1989,2
1,572,2020-12-01 00:11:57.3910,2020-12-01 00:21:30.2510,3640,Journal Square,40.733670,-74.062500,3280,Astor Place,40.719282,-74.071262,18568,Subscriber,1997,2
2,387,2020-12-01 00:14:49.3610,2020-12-01 00:21:16.8730,3640,Journal Square,40.733670,-74.062500,3194,McGinley Square,40.725340,-74.067622,44543,Subscriber,1960,1
3,188,2020-12-01 00:45:06.3680,2020-12-01 00:48:14.4280,3186,Grove St PATH,40.719586,-74.043117,3270,Jersey & 6th St,40.725289,-74.045572,43098,Subscriber,1998,1
4,594,2020-12-01 01:17:17.0110,2020-12-01 01:27:11.9400,3212,Christ Hospital,40.734786,-74.050444,3209,Brunswick St,40.724176,-74.050656,44723,Subscriber,1988,1

In [13]:
columns_to_convert = ["starttime", "stoptime"]
# Convert the column to datetime data type
dec20_df[columns_to_convert] = dec20_df[columns_to_convert].apply(lambda x: pd.to_datetime(x, format='%Y-%m-%d %H:%M:%S.%f'))

# Convert the columns to the desired format
dec20_df[columns_to_convert] = dec20_df[columns_to_convert].apply(lambda x: x.dt.strftime('%Y-%m-%d %H:%M:%S'))

# Output the DataFrame with the updated data type
dec20_df.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,146,2020-12-01 00:02:50,2020-12-01 00:05:16,3202,Newport PATH,40.727224,-74.033759,3199,Newport Pkwy,40.728745,-74.032108,42308,Subscriber,1989,2
1,572,2020-12-01 00:11:57,2020-12-01 00:21:30,3640,Journal Square,40.733670,-74.062500,3280,Astor Place,40.719282,-74.071262,18568,Subscriber,1997,2
2,387,2020-12-01 00:14:49,2020-12-01 00:21:16,3640,Journal Square,40.733670,-74.062500,3194,McGinley Square,40.725340,-74.067622,44543,Subscriber,1960,1
3,188,2020-12-01 00:45:06,2020-12-01 00:48:14,3186,Grove St PATH,40.719586,-74.043117,3270,Jersey & 6th St,40.725289,-74.045572,43098,Subscriber,1998,1
4,594,2020-12-01 01:17:17,2020-12-01 01:27:11,3212,Christ Hospital,40.734786,-74.050444,3209,Brunswick St,40.724176,-74.050656,44723,Subscriber,1988,1

In [14]:
#dec20_df.info()
#dec20_df.count()
#dec20_df.describe()

In [15]:
jun19_dec20_df = pd.concat([june19_df, dec19_df, jun20_df, dec20_df], ignore_index=True)
jun19_dec20_df.head()
#jun19_dec20_df.count()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,316,2019-06-01 00:05:55,2019-06-01 00:11:11,3187,Warren St,40.721124,-74.038051,3199,Newport Pkwy,40.728745,-74.032108,29677,Subscriber,1993,1
1,280,2019-06-01 00:08:09,2019-06-01 00:12:50,3185,City Hall,40.717732,-74.043845,3267,Morris Canal,40.712419,-74.038526,29571,Subscriber,1984,1
2,2162,2019-06-01 00:13:11,2019-06-01 00:49:14,3199,Newport Pkwy,40.728745,-74.032108,3199,Newport Pkwy,40.728745,-74.032108,26208,Customer,1969,0
3,2184,2019-06-01 00:13:30,2019-06-01 00:49:54,3199,Newport Pkwy,40.728745,-74.032108,3199,Newport Pkwy,40.728745,-74.032108,29487,Customer,1969,0
4,139,2019-06-01 00:13:31,2019-06-01 00:15:51,3207,Oakland Ave,40.737604,-74.052478,3207,Oakland Ave,40.737604,-74.052478,29592,Subscriber,1994,1

In [16]:
jun21_df = pd.read_csv("JC-202106-citibike-tripdata.csv")
jun21_df.head()

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual
0,7830EBE775F2EE25,classic_bike,2021-06-21 07:38:42,2021-06-21 10:49:25,Dixon Mills,JC076,NaN,NaN,40.721630,-74.049968,NaN,NaN,member
1,629A3BFD50BF8392,docked_bike,2021-06-12 10:25:01,2021-06-12 10:35:11,Dixon Mills,JC076,Journal Square,JC103,40.721630,-74.049967,40.733670,-74.062500,member
2,CF02EC434989A99D,docked_bike,2021-06-07 14:52:05,2021-06-07 14:58:25,11 St & Washington St,HB502,Hoboken Terminal - Hudson St & Hudson Pl,HB101,40.749984,-74.027150,40.735938,-74.030305,member
3,E1BB8FED29AA5BA1,docked_bike,2021-06-07 08:29:19,2021-06-07 08:34:17,8 St & Washington St,HB603,Hoboken Terminal - Hudson St & Hudson Pl,HB101,40.745983,-74.028199,40.735938,-74.030305,casual
4,787C59EE76D96BCA,docked_bike,2021-06-18 14:16:27,2021-06-18 14:26:26,11 St & Washington St,HB502,Columbus Park - Clinton St & 9 St,HB501,40.749984,-74.027150,40.748161,-74.032453,member

In [17]:
dec21_df = pd.read_csv("JC-202112-citibike-tripdata.csv")
dec21_df.head()

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual
0,87F1811D08BA7BF3,classic_bike,2021-12-12 09:16:59,2021-12-12 09:23:08,Hamilton Park,JC009,Grove St PATH,JC005,40.727596,-74.044247,40.719586,-74.043117,member
1,48390A4B390ABD36,electric_bike,2021-12-07 20:06:14,2021-12-07 20:14:14,Hamilton Park,JC009,Hilltop,JC019,40.727596,-74.044247,40.731169,-74.057574,casual
2,93AE14B47CBB30F8,classic_bike,2021-12-31 16:07:10,2021-12-31 16:14:39,Brunswick St,JC023,Brunswick St,JC023,40.724176,-74.050656,40.724176,-74.050656,casual
3,5D0BDBFB30D7C9F6,electric_bike,2021-12-11 03:25:41,2021-12-11 03:31:16,Brunswick St,JC023,Baldwin at Montgomery,JC020,40.724176,-74.050656,40.723659,-74.064194,member
4,D6382ADAF1672DD8,classic_bike,2021-12-17 10:59:28,2021-12-17 11:12:41,Brunswick St,JC023,Paulus Hook,JC002,40.724176,-74.050656,40.714145,-74.033552,casual

In [18]:
jun22_df = pd.read_csv("JC-202206-citibike-tripdata.csv")
jun22_df.head()

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual
0,EEA3CD3B084370F4,classic_bike,2022-06-30 19:17:16,2022-06-30 19:27:13,Clinton St & Newark St,HB409,Grand St & 14 St,HB506,40.737430,-74.035710,40.754090,-74.031600,casual
1,BF568C9B3C5FAE94,classic_bike,2022-06-02 12:46:44,2022-06-02 15:08:33,Clinton St & Newark St,HB409,Grand St & 14 St,HB506,40.737430,-74.035710,40.754090,-74.031600,casual
2,DF6B06D460481A7E,classic_bike,2022-06-05 14:17:34,2022-06-05 14:27:12,Clinton St & Newark St,HB409,Grand St & 14 St,HB506,40.737430,-74.035710,40.754090,-74.031600,casual
3,A26CDB92CDF7E0EE,electric_bike,2022-06-01 18:57:12,2022-06-01 19:05:58,Clinton St & Newark St,HB409,Pershing Field,JC024,40.737430,-74.035710,40.742677,-74.051789,member
4,A2A50E81031E9E7F,electric_bike,2022-06-14 22:45:53,2022-06-14 22:49:39,Oakland Ave,JC022,Pershing Field,JC024,40.737604,-74.052478,40.742677,-74.051789,member

In [19]:
dec22_df = pd.read_csv("JC-202212-citibike-tripdata.csv")
dec22_df.head()

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual
0,099D81CA71EBADAB,classic_bike,2022-12-23 16:02:26,2022-12-23 16:09:40,Mama Johnson Field - 4 St & Jackson St,HB404,Adams St & 11 St,HB507,40.743140,-74.040041,40.750916,-74.033541,member
1,D979F3B79FC30F1F,electric_bike,2022-12-27 10:54:29,2022-12-27 10:59:23,Jersey & 3rd,JC074,Marin Light Rail,JC013,40.723332,-74.045953,40.714584,-74.042817,member
2,3950909BC3B42E43,classic_bike,2022-12-31 10:39:39,2022-12-31 11:00:52,Morris Canal,JC072,LaGuardia Pl & W 3 St,5721.14,40.712252,-74.038188,40.729170,-73.998102,member
3,372E50F5FB4FD434,classic_bike,2022-12-05 08:16:10,2022-12-05 08:20:09,Morris Canal,JC072,Columbus Drive,JC014,40.712419,-74.038526,40.718355,-74.038914,member
4,AB701FB8091C7431,classic_bike,2022-12-02 13:40:36,2022-12-02 13:46:11,Harborside,JC104,Grove St PATH,JC005,40.719252,-74.034234,40.719586,-74.043117,member

In [20]:
jun23_df = pd.read_csv("JC-202306-citibike-tripdata.csv")
jun23_df.head()

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual
0,37BE5FCB1A385CDA,classic_bike,2023-06-27 16:06:27,2023-06-27 16:10:27,Hilltop,JC019,Christ Hospital,JC034,40.731115,-74.057468,40.734786,-74.050444,casual
1,9C96B4C6CBBB31AD,classic_bike,2023-06-24 10:46:58,2023-06-24 10:55:27,Baldwin at Montgomery,JC020,Hamilton Park,JC009,40.723473,-74.064338,40.727596,-74.044247,member
2,C91293605D4BEC07,electric_bike,2023-06-04 20:30:13,2023-06-04 20:34:31,Hilltop,JC019,Brunswick St,JC023,40.731169,-74.057574,40.724176,-74.050656,member
3,2920063442116A46,classic_bike,2023-06-08 19:10:06,2023-06-08 19:13:05,Baldwin at Montgomery,JC020,Astor Place,JC077,40.723499,-74.064335,40.719282,-74.071262,member
4,E205FD8C18BA263A,classic_bike,2023-06-23 18:53:51,2023-06-23 19:17:50,Baldwin at Montgomery,JC020,Adams St & 11 St,HB507,40.723511,-74.064277,40.750916,-74.033541,member

In [21]:
jun21_jun23_df = pd.concat([jun21_df, dec21_df, jun22_df, dec22_df, jun23_df], ignore_index=True)
jun21_jun23_df.head()
#jun21_jun23_df.count()

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual
0,7830EBE775F2EE25,classic_bike,2021-06-21 07:38:42,2021-06-21 10:49:25,Dixon Mills,JC076,NaN,NaN,40.721630,-74.049968,NaN,NaN,member
1,629A3BFD50BF8392,docked_bike,2021-06-12 10:25:01,2021-06-12 10:35:11,Dixon Mills,JC076,Journal Square,JC103,40.721630,-74.049967,40.733670,-74.062500,member
2,CF02EC434989A99D,docked_bike,2021-06-07 14:52:05,2021-06-07 14:58:25,11 St & Washington St,HB502,Hoboken Terminal - Hudson St & Hudson Pl,HB101,40.749984,-74.027150,40.735938,-74.030305,member
3,E1BB8FED29AA5BA1,docked_bike,2021-06-07 08:29:19,2021-06-07 08:34:17,8 St & Washington St,HB603,Hoboken Terminal - Hudson St & Hudson Pl,HB101,40.745983,-74.028199,40.735938,-74.030305,casual
4,787C59EE76D96BCA,docked_bike,2021-06-18 14:16:27,2021-06-18 14:26:26,11 St & Washington St,HB502,Columbus Park - Clinton St & 9 St,HB501,40.749984,-74.027150,40.748161,-74.032453,member

# Prepare combined dataframe

In [22]:
new_jun19_dec20_df = jun19_dec20_df.drop(["tripduration", "birth year","bikeid", "gender"], axis=1)
new_jun19_dec20_df.head()

,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,usertype
0,2019-06-01 00:05:55,2019-06-01 00:11:11,3187,Warren St,40.721124,-74.038051,3199,Newport Pkwy,40.728745,-74.032108,Subscriber
1,2019-06-01 00:08:09,2019-06-01 00:12:50,3185,City Hall,40.717732,-74.043845,3267,Morris Canal,40.712419,-74.038526,Subscriber
2,2019-06-01 00:13:11,2019-06-01 00:49:14,3199,Newport Pkwy,40.728745,-74.032108,3199,Newport Pkwy,40.728745,-74.032108,Customer
3,2019-06-01 00:13:30,2019-06-01 00:49:54,3199,Newport Pkwy,40.728745,-74.032108,3199,Newport Pkwy,40.728745,-74.032108,Customer
4,2019-06-01 00:13:31,2019-06-01 00:15:51,3207,Oakland Ave,40.737604,-74.052478,3207,Oakland Ave,40.737604,-74.052478,Subscriber

In [23]:
new_jun19_dec20_df.columns

Index(['starttime', 'stoptime', 'start station id', 'start station name',
       'start station latitude', 'start station longitude', 'end station id',
       'end station name', 'end station latitude', 'end station longitude',
       'usertype'],
      dtype='object')

In [24]:
jun21_jun23_df.columns

Index(['ride_id', 'rideable_type', 'started_at', 'ended_at',
       'start_station_name', 'start_station_id', 'end_station_name',
       'end_station_id', 'start_lat', 'start_lng', 'end_lat', 'end_lng',
       'member_casual'],
      dtype='object')

In [25]:
new_jun21_jun23_df = jun21_jun23_df.drop(['ride_id', 'rideable_type'], axis=1)
new_jun21_jun23_df.head()

,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual
0,2021-06-21 07:38:42,2021-06-21 10:49:25,Dixon Mills,JC076,NaN,NaN,40.721630,-74.049968,NaN,NaN,member
1,2021-06-12 10:25:01,2021-06-12 10:35:11,Dixon Mills,JC076,Journal Square,JC103,40.721630,-74.049967,40.733670,-74.062500,member
2,2021-06-07 14:52:05,2021-06-07 14:58:25,11 St & Washington St,HB502,Hoboken Terminal - Hudson St & Hudson Pl,HB101,40.749984,-74.027150,40.735938,-74.030305,member
3,2021-06-07 08:29:19,2021-06-07 08:34:17,8 St & Washington St,HB603,Hoboken Terminal - Hudson St & Hudson Pl,HB101,40.745983,-74.028199,40.735938,-74.030305,casual
4,2021-06-18 14:16:27,2021-06-18 14:26:26,11 St & Washington St,HB502,Columbus Park - Clinton St & 9 St,HB501,40.749984,-74.027150,40.748161,-74.032453,member

In [26]:
column_order = ['started_at', 'ended_at',
        'start_station_id','start_station_name', 'start_lat', 'start_lng',
       'end_station_id', 'end_station_name', 'end_lat', 'end_lng',
       'member_casual']

new_jun21_jun23_df = new_jun21_jun23_df [column_order]
new_jun21_jun23_df.head()

,started_at,ended_at,start_station_id,start_station_name,start_lat,start_lng,end_station_id,end_station_name,end_lat,end_lng,member_casual
0,2021-06-21 07:38:42,2021-06-21 10:49:25,JC076,Dixon Mills,40.721630,-74.049968,NaN,NaN,NaN,NaN,member
1,2021-06-12 10:25:01,2021-06-12 10:35:11,JC076,Dixon Mills,40.721630,-74.049967,JC103,Journal Square,40.733670,-74.062500,member
2,2021-06-07 14:52:05,2021-06-07 14:58:25,HB502,11 St & Washington St,40.749984,-74.027150,HB101,Hoboken Terminal - Hudson St & Hudson Pl,40.735938,-74.030305,member
3,2021-06-07 08:29:19,2021-06-07 08:34:17,HB603,8 St & Washington St,40.745983,-74.028199,HB101,Hoboken Terminal - Hudson St & Hudson Pl,40.735938,-74.030305,casual
4,2021-06-18 14:16:27,2021-06-18 14:26:26,HB502,11 St & Washington St,40.749984,-74.027150,HB501,Columbus Park - Clinton St & 9 St,40.748161,-74.032453,member

In [27]:
new_column_names = {
    'started_at': 'starttime', 
    'ended_at' : 'stoptime',
    'start_station_id' : 'start station id',
    'start_station_name' : 'start station name',
    'start_lat' : 'start station latitude',
    'start_lng' : 'start station longitude',
    'end_station_id': 'end station id',
    'end_station_name' : 'end station name',
    'end_lat' : 'end station latitude',
    'end_lng' : 'end station longitude',
    'member_casual': 'usertype'
}

new_jun21_jun23_df.rename(columns=new_column_names, inplace=True)

new_jun21_jun23_df.head()

,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,usertype
0,2021-06-21 07:38:42,2021-06-21 10:49:25,JC076,Dixon Mills,40.721630,-74.049968,NaN,NaN,NaN,NaN,member
1,2021-06-12 10:25:01,2021-06-12 10:35:11,JC076,Dixon Mills,40.721630,-74.049967,JC103,Journal Square,40.733670,-74.062500,member
2,2021-06-07 14:52:05,2021-06-07 14:58:25,HB502,11 St & Washington St,40.749984,-74.027150,HB101,Hoboken Terminal - Hudson St & Hudson Pl,40.735938,-74.030305,member
3,2021-06-07 08:29:19,2021-06-07 08:34:17,HB603,8 St & Washington St,40.745983,-74.028199,HB101,Hoboken Terminal - Hudson St & Hudson Pl,40.735938,-74.030305,casual
4,2021-06-18 14:16:27,2021-06-18 14:26:26,HB502,11 St & Washington St,40.749984,-74.027150,HB501,Columbus Park - Clinton St & 9 St,40.748161,-74.032453,member

In [28]:
new_jun19_dec20_df['usertype'].unique()

array(['Subscriber', 'Customer'], dtype=object)

In [29]:
new_jun21_jun23_df['usertype'].unique()

array(['member', 'casual'], dtype=object)

In [30]:
replacement_dict = {
    'member' : 'Subscriber', 
    'casual' : 'Customer'
}

new_jun21_jun23_df['usertype'] = new_jun21_jun23_df['usertype'].astype(str).replace(replacement_dict)

In [31]:
new_jun21_jun23_df.head()
#new_jun21_jun23_df['usertype'].unique()

,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,usertype
0,2021-06-21 07:38:42,2021-06-21 10:49:25,JC076,Dixon Mills,40.721630,-74.049968,NaN,NaN,NaN,NaN,Subscriber
1,2021-06-12 10:25:01,2021-06-12 10:35:11,JC076,Dixon Mills,40.721630,-74.049967,JC103,Journal Square,40.733670,-74.062500,Subscriber
2,2021-06-07 14:52:05,2021-06-07 14:58:25,HB502,11 St & Washington St,40.749984,-74.027150,HB101,Hoboken Terminal - Hudson St & Hudson Pl,40.735938,-74.030305,Subscriber
3,2021-06-07 08:29:19,2021-06-07 08:34:17,HB603,8 St & Washington St,40.745983,-74.028199,HB101,Hoboken Terminal - Hudson St & Hudson Pl,40.735938,-74.030305,Customer
4,2021-06-18 14:16:27,2021-06-18 14:26:26,HB502,11 St & Washington St,40.749984,-74.027150,HB501,Columbus Park - Clinton St & 9 St,40.748161,-74.032453,Subscriber

In [32]:
combined_df = pd.concat([new_jun19_dec20_df, new_jun21_jun23_df], ignore_index=True)
combined_df.head()
combined_df.count()
combined_df.tail()

,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,usertype
476138,2023-06-30 19:41:00,2023-06-30 23:07:31,JC098,Washington St,40.724294,-74.035483,JC008,Newport Pkwy,40.728745,-74.032108,Customer
476139,2023-06-20 18:55:02,2023-06-20 19:01:47,JC098,Washington St,40.724273,-74.035498,HB401,Southwest Park - Jackson St & Observer Hwy,40.737551,-74.041664,Subscriber
476140,2023-06-22 19:24:22,2023-06-22 19:30:03,HB305,9 St HBLR - Jackson St & 8 St,40.747907,-74.038412,HB505,Willow Ave & 12 St,40.751867,-74.030377,Customer
476141,2023-06-30 13:34:09,2023-06-30 13:38:34,HB305,9 St HBLR - Jackson St & 8 St,40.747971,-74.038413,HB505,Willow Ave & 12 St,40.751867,-74.030377,Customer
476142,2023-06-13 17:23:31,2023-06-13 17:28:01,HB305,9 St HBLR - Jackson St & 8 St,40.748000,-74.038375,HB505,Willow Ave & 12 St,40.751867,-74.030377,Customer

In [39]:
columns_to_convert = ["starttime", "stoptime"]
# Convert the column to datetime data type
combined_df[columns_to_convert] = combined_df[columns_to_convert].apply(lambda x: pd.to_datetime(x, format='%Y-%m-%d %H:%M:%S.%f'))

# Convert the columns to the desired format
combined_df[columns_to_convert] = combined_df[columns_to_convert].apply(lambda x: x.dt.strftime('%Y-%m-%d %H:%M:%S'))

# Output the DataFrame with the updated data type
combined_df["starttime"].sort_values
combined_df.tail()

,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,usertype
476138,2023-06-30 19:41:00,2023-06-30 23:07:31,JC098,Washington St,40.724294,-74.035483,JC008,Newport Pkwy,40.728745,-74.032108,Customer
476139,2023-06-20 18:55:02,2023-06-20 19:01:47,JC098,Washington St,40.724273,-74.035498,HB401,Southwest Park - Jackson St & Observer Hwy,40.737551,-74.041664,Subscriber
476140,2023-06-22 19:24:22,2023-06-22 19:30:03,HB305,9 St HBLR - Jackson St & 8 St,40.747907,-74.038412,HB505,Willow Ave & 12 St,40.751867,-74.030377,Customer
476141,2023-06-30 13:34:09,2023-06-30 13:38:34,HB305,9 St HBLR - Jackson St & 8 St,40.747971,-74.038413,HB505,Willow Ave & 12 St,40.751867,-74.030377,Customer
476142,2023-06-13 17:23:31,2023-06-13 17:28:01,HB305,9 St HBLR - Jackson St & 8 St,40.748000,-74.038375,HB505,Willow Ave & 12 St,40.751867,-74.030377,Customer

In [40]:
combined_df.count()

starttime                  476143
stoptime                   476143
start station id           476088
start station name         476088
start station latitude     476143
start station longitude    476143
end station id             474667
end station name           474667
end station latitude       475350
end station longitude      475350
usertype                   476143
dtype: int64

In [41]:
combined_df.dropna

<bound method DataFrame.dropna of                   starttime             stoptime start station id  \
0       2019-06-01 00:05:55  2019-06-01 00:11:11             3187
1       2019-06-01 00:08:09  2019-06-01 00:12:50             3185
2       2019-06-01 00:13:11  2019-06-01 00:49:14             3199
3       2019-06-01 00:13:30  2019-06-01 00:49:54             3199
4       2019-06-01 00:13:31  2019-06-01 00:15:51             3207
...                     ...                  ...              ...
476138  2023-06-30 19:41:00  2023-06-30 23:07:31            JC098
476139  2023-06-20 18:55:02  2023-06-20 19:01:47            JC098
476140  2023-06-22 19:24:22  2023-06-22 19:30:03            HB305
476141  2023-06-30 13:34:09  2023-06-30 13:38:34            HB305
476142  2023-06-13 17:23:31  2023-06-13 17:28:01            HB305

                   start station name  start station latitude  \
0                           Warren St               40.721124
1                           City Hall               40.717732
2                        Newport Pkwy               40.728745
3                        Newport Pkwy               40.728745
4                         Oakland Ave               40.737604
...                               ...                     ...
476138                  Washington St               40.724294
476139                  Washington St               40.724273
476140  9 St HBLR - Jackson St & 8 St               40.747907
476141  9 St HBLR - Jackson St & 8 St               40.747971
476142  9 St HBLR - Jackson St & 8 St               40.748000

        start station longitude end station id  \
0                    -74.038051           3199
1                    -74.043845           3267
2                    -74.032108           3199
3                    -74.032108           3199
4                    -74.052478           3207
...                         ...            ...
476138               -74.035483          JC008
476139               -74.035498          HB401
476140               -74.038412          HB505
476141               -74.038413          HB505
476142               -74.038375          HB505

                                  end station name  end station latitude  \
0                                     Newport Pkwy             40.728745
1                                     Morris Canal             40.712419
2                                     Newport Pkwy             40.728745
3                                     Newport Pkwy             40.728745
4                                      Oakland Ave             40.737604
...                                            ...                   ...
476138                                Newport Pkwy             40.728745
476139  Southwest Park - Jackson St & Observer Hwy             40.737551
476140                          Willow Ave & 12 St             40.751867
476141                          Willow Ave & 12 St             40.751867
476142                          Willow Ave & 12 St             40.751867

        end station longitude    usertype
0                  -74.032108  Subscriber
1                  -74.038526  Subscriber
2                  -74.032108    Customer
3                  -74.032108    Customer
4                  -74.052478  Subscriber
...                       ...         ...
476138             -74.032108    Customer
476139             -74.041664  Subscriber
476140             -74.030377    Customer
476141             -74.030377    Customer
476142             -74.030377    Customer

[476143 rows x 11 columns]>

In [42]:
combined_df.count()

starttime                  476143
stoptime                   476143
start station id           476088
start station name         476088
start station latitude     476143
start station longitude    476143
end station id             474667
end station name           474667
end station latitude       475350
end station longitude      475350
usertype                   476143
dtype: int64

In [43]:
combined_df.tail()

,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,usertype
476138,2023-06-30 19:41:00,2023-06-30 23:07:31,JC098,Washington St,40.724294,-74.035483,JC008,Newport Pkwy,40.728745,-74.032108,Customer
476139,2023-06-20 18:55:02,2023-06-20 19:01:47,JC098,Washington St,40.724273,-74.035498,HB401,Southwest Park - Jackson St & Observer Hwy,40.737551,-74.041664,Subscriber
476140,2023-06-22 19:24:22,2023-06-22 19:30:03,HB305,9 St HBLR - Jackson St & 8 St,40.747907,-74.038412,HB505,Willow Ave & 12 St,40.751867,-74.030377,Customer
476141,2023-06-30 13:34:09,2023-06-30 13:38:34,HB305,9 St HBLR - Jackson St & 8 St,40.747971,-74.038413,HB505,Willow Ave & 12 St,40.751867,-74.030377,Customer
476142,2023-06-13 17:23:31,2023-06-13 17:28:01,HB305,9 St HBLR - Jackson St & 8 St,40.748000,-74.038375,HB505,Willow Ave & 12 St,40.751867,-74.030377,Customer

In [38]:
new_jun19_dec20_df.to_csv("new_jun19_dec20.csv", index=False)
new_jun21_jun23_df.to_csv("new_jun21_jun23.csv", index=False)
combined_df.to_csv("combined.csv", index=False)